<% include _header %>
<h2>Dispositivos</h2>
<div class="devall">
    <% devices.forEach(function(device) { %>
    <div class="panel panel-default">
        <div class="dev panel-heading">
            <%= device.name() %>
            <p class="register btn btn-warning btn-xs pull-right"> Registrar Huella</p>
        </div>
    </div>
    <% }) %>
    <div class="newDev well">
        <h2>Crea un nuevo dispositivo</h2>
        <form action="/device" method="post">
            <input name="devicename" type="text" class="form-control"
                   placeholder="Nombre del dispositivo" required autofocus>
            <input name="password" type="password" class="form-control"
                   placeholder="Contraseña" required>
            <input type="submit" value="Crear Dispositivo" class="btn btn-primary btn-block">
        </form>
    </div>
</div>

<% include _footer %>